{% extends "layout.html" %}
{% block content %}
  {% for event in events %}
  <div class="row">
    <div class="col-4">  
      <div class="card">
        <form action="{{url_for('comprar_evento', evento_id=event.eventID)}}">
            <img class="card-img-top" max-width="50vw" height="auto" width="90%" src="{{ event.imagen }}">
            <br>
            <div class="card-body">
              <h2><a class="card-title" href="{{ url_for('evento', evento_id=event.eventID) }}">{{event.nombre}}</a></h2>             
              <p class="card-text"><strong>Duración:</strong> {{ event.duracion }} minutos</p> 
              <p class="card-text"><strong>Costo:</strong> ${{ event.costo }} MXN</p>
              <p class="card-text"><strong>Lugar:</strong> {{ event.lugar }}</p>
              <p class="card-text"><strong>Fecha del evento:</strong> {{ event.fecha}}</p>
              <p class="card-text-description">{{ event.descripcion }}</p>
              <button type="submit" class="btn btn-primary">Compra tus Boletos</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  {% endfor %}
{% endblock content %}
