{% extends "layout.html" %}
{% block content %}

<style>
      #title {
        color: #fff;
        background-color: #4d90fe;
        font-size: 25px;
        font-weight: 500;
        padding: 6px 12px;
      }
    </style>

    <div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">¡Únete a DOLARICK hoy!</legend>

                <div class="form-group">
                    {{ form.username.label(class="form-control-label") }}
                    {% if form.username.errors%}
                    {{ form.username(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {%for error in form.username.errors%}
                           <span>{{error}}</span>
                        {%endfor%}
                    </div>
                    {%else%}
                    {{ form.username(class="form-control form-control-lg") }}
                   {%endif%}
                </div>

                <div class="form-group">
                        {{ form.mail.label(class="form-control-label") }}

                        {% if form.mail.errors%}
                         {{ form.mail(class="form-control form-control-lg is-invalid") }}
                         <div class="invalid-feedback">
                             {%for error in form.mail.errors%}
                                <span>{{error}}</span>
                             {%endfor%}
                         </div>
                         {%else%}
                         {{ form.mail(class="form-control form-control-lg") }}
                        {%endif%}
                </div>

                <div class="form-group">
                    {{ form.nombre.label(class="form-control-label") }}

                    {% if form.nombre.errors%}
                     {{ form.nombre(class="form-control form-control-lg is-invalid") }}
                     <div class="invalid-feedback">
                         {%for error in form.nombre.errors%}
                            <span>{{error}}</span>
                         {%endfor%}
                     </div>
                     {%else%}
                     {{ form.nombre(class="form-control form-control-lg") }}
                    {%endif%}
                </div>

                <div class="form-group">
                    {{ form.telefono.label(class="form-control-label") }}

                    {% if form.telefono.errors%}
                     {{ form.telefono(class="form-control form-control-lg is-invalid") }}
                     <div class="invalid-feedback">
                         {%for error in form.telefono.errors%}
                            <span>{{error}}</span>
                         {%endfor%}
                     </div>
                     {%else%}
                     {{ form.telefono(class="form-control form-control-lg") }}
                    {%endif%}
                </div>

                <div class="form-group">
                    {{ form.edad.label(class="form-control-label") }}

                    {% if form.edad.errors%}
                     {{ form.edad(class="form-control form-control-lg is-invalid") }}
                     <div class="invalid-feedback">
                         {%for error in form.edad.errors%}
                            <span>{{error}}</span>
                         {%endfor%}
                     </div>
                     {%else%}
                     {{ form.edad(class="form-control form-control-lg") }}
                    {%endif%}
                </div>

                <div class="form-group">
                    {{ form.estado.label(class="form-control-label") }}

                    {% if form.estado.errors%}
                     {{ form.estado(class="form-control form-control-lg is-invalid") }}
                     <div class="invalid-feedback">
                         {%for error in form.estado.errors%}
                            <span>{{error}}</span>
                         {%endfor%}
                     </div>
                     {%else%}
                     {{ form.estado(class="form-control form-control-lg") }}
                    {%endif%}
                </div>

                <div class="form-group">
                    {{ form.trabajo.label(class="form-control-label") }}

                    {% if form.trabajo.errors%}
                     {{ form.trabajo(class="form-control form-control-lg is-invalid") }}
                     <div class="invalid-feedback">
                         {%for error in form.trabajo.errors%}
                            <span>{{error}}</span>
                         {%endfor%}
                     </div>
                     {%else%}
                     {{ form.trabajo(class="form-control form-control-lg") }}
                    {%endif%}
                </div>

                <div class="form-group">
                        {{ form.password.label(class="form-control-label") }}
                        {% if form.password.errors%}
                        {{ form.password(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {%for error in form.password.errors%}
                               <span>{{error}}</span>
                            {%endfor%}
                        </div>
                        {%else%}
                        {{ form.password(class="form-control form-control-lg") }}
                       {%endif%}
                </div>

                <div class="form-group">
                        {{ form.confirm_password.label(class="form-control-label") }}
                        {% if form.confirm_password.errors%}
                        {{ form.mail(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {%for error in form.confirm_password.errors%}
                               <span>{{error}}</span>
                            {%endfor%}
                        </div>
                        {%else%}
                        {{ form.confirm_password(class="form-control form-control-lg") }}
                       {%endif%}
                </div>

            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info")}}
            </div>
            <div class="border-top pt-3">
                <small class="text-muted">
                    ¿Ya tienes una cuenta? <a class="ml-2" href="{{ url_for('login')}}">Ingresa</a>
                </small>
            </div>
        </form>
      </div>

{% endblock content %}




      



